<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name=".AlarmReceiver"
            android:exported="false"
            android:directBootAware="true" />

        <service
            android:name=".AlarmRingingService"
            android:exported="false"
            android:directBootAware="true"
            android:foregroundServiceType="mediaPlayback" />

        <activity
            android:name=".AlarmActivity"
            android:exported="false"
            android:directBootAware="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.Niumi" />
    </application>

</manifest>
